@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.7;
    background-color: #F9F8F6;
    color: #5B5C5C;
    margin: 0 auto;
    max-width: 1065px;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
main {
    max-width: 1065px;
}
hr {
    border: 0;
    border-top: 1px solid #b5b7b7;
}
input {
    background-color: #ffffff;
    padding: 8px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 40px;
}
input:focus {
  outline: none;
  border: 2px solid #5B5C5C; /* Sets a 2px solid red border */
}
form {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    height: 150px;
    margin: 0 auto;
    padding: 8px 24px;
    border-radius: 12px;
}
header {
    max-width: 1065px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    position: sticky;
    top: 100vh;
    text-align: center;
    padding: 1rem 0;
}

/* header */
#logo {
    width: 100px;
}
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; 
}
.nav-a {
    font-weight: bold;
    color: #5B5C5C;
}

/* home page */
#home-page {
    text-align: center;
    margin: 8rem auto;
}
#home-page button {
    width: 100px;
    height: 40px;
    border-radius: 12px;
    background-color: #C9B59C;
    color: #ffffff;
}


/* item page */
#item-page > div {
    display: flex;
    margin-top: 3rem;
    gap: 5rem;
}
#index {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 150px;
}
#index li {
    list-style: none;
}
#index a {  
    color: #5B5C5C;
}
#items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 800px;
    overflow-y: auto;
    width: 100%;
    padding: 1rem;
}
#items section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#items ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 1rem;
}
#items li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
#items img {
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    object-fit: cover;
}
#items button {
    font-size: 14px;
    border-radius: 12px;
    background-color: #C9B59C;
    color: #ffffff;
    display: block;
    padding: 8px 16px;
    margin: auto auto 0 auto;
}
.shop-name, .item-price {
    overflow: hidden;
    width: 120px;
    text-overflow: ellipsis;
}