<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Setup Mixer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="img/png" href="../assets/Setup Mixer-logo/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <img src="../assets/Setup Mixer-logo/logo.png" alt="logo image" id="logo">
      <div id="nav-bar">
        <a href="/" class="nav-a">ホーム</a>
        <a href="/set" class="nav-a">セット</a>
      </div>
    </header>

    <main id="home-page">
      <p>好みの条件で検索して、統一感のあるオフィスグッズセットを作成しましょう。</p>
      <form action="/item" method="get">
        <input type="text" id="keyword" name="q" placeholder="キーワードの間に半角スペースを入れてください。">
        <button id="search-button">検索</button>
      </form>
    </main>

    <footer>
      <small class="copyright">&copy; <span id="year"></span> Setup Mixer</small>
    </footer>

    <script src="../static/js/index.js"></script>
  </body>
</html>
