<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Setup Mixer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="img/png" href="../assets/Setup Mixer-logo/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Setup Mixer </h1>
    </header>

    <main>
      <form id="keyword-form" action="/item" method="get">
        <label for="keyword">キーワード</label>
        <input type="text" id="keyword" name="q">
        <button id="search-button">検索</button>
      </form>
    </main>

    <footer>
      <small class="copyright">&copy; <span id="year"></span> Setup Mixer</small>
    </footer>

    <script src="../static/js/index.js"></script>
  </body>
</html>
