<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Setup Mixer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="img/png" href="../assets/Setup Mixer-logo/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <img src="../assets/Setup Mixer-logo/logo.png" alt="logo image" id="logo">
      <div id="nav-bar">
        <a href="/" class="nav-a">ホーム</a>
        <a href="/set" class="nav-a">セット</a>
      </div>
    </header>

    <main id="item-page">
      <h1>検索結果</h1>
      <div>
        <ul id="index">
          {{ range .Nav }}
          <li>
            <a href="{{ .Link }}">{{ .Name }}</a>
          </li>
          <hr />
          {{ end }}
        </ul>

        <div id="items">
          {{ range .Categories }}
          <section id="{{ .NameEn }}">
            <h2>{{ .NameJa }}</h2>
            <ul>
              {{ range .Items }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>
          {{ end }}
        </div>
      </div>
    </main>

    <footer>
      <small class="copyright">&copy; <span id="year"></span> Setup Mixer</small>
    </footer>

    <script src="../static/js/index.js"></script>
  </body>
</html>
