<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Setup Mixer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="img/png" href="../assets/Setup Mixer-logo/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
   <header>
      <img src="../assets/Setup Mixer-logo/logo.png" alt="logo image" id="logo">
      <div id="nav-bar">
        <a href="/" class="nav-a">ホーム</a>
        <a href="/set" class="nav-a">セット</a>
      </div>
    </header>

    <main id="item-page">
      <h1>検索結果</h1>
      <div>
        <ul id="index">
          <li>
            <a href="#desk">デスク</a>
          </li>
          <hr />
          <li>
            <a href="#chair">イス</a>
          </li>
            <hr />
          <li>
            <a href="#keyboard">キーボード</a>
          </li>
            <hr />
          <li>
            <a href="#mouse">マウス</a>
          </li>
            <hr />
          <li>
            <a href="#mouse-pad">マウスパッド</a>
          </li>
            <hr />
          <li>
            <a href="#monitor">モニター</a>
          </li>
            <hr />
          <li>
            <a href="#monitor-arm">モニターアーム</a>
          </li>
            <hr />
          <li>
            <a href="#desk-lamp">デスクライト</a>
          </li>
            <hr />
          <li>
            <a href="#power-strip">電源タップ</a>
          </li>
            <hr />
          <li>
            <a href="#power-strip-case">ケーブル収納</a>
          </li>
            <hr />
          <li>
            <a href="#speaker">スピーカー</a>
          </li>
            <hr />
          <li>
            <a href="#camera">ウェブカメラ</a>
          </li>
            <hr />
          <li>
            <a href="#headphone">ヘッドセット</a>
          </li>
        </ul>

        <div id="items">

          <section id="desk">
            <h2>デスク</h2>
            <ul>
              {{ range .Desk }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="chair" >
            <h2>イス</h2>
            <ul>
              {{ range .Chair }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="keyboard">
            <h2>キーボード</h2>
            <ul>
              {{ range .Keyboard }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="mouse">
            <h2>マウス</h2>
            <ul>
              {{ range .Mouse }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="mouse-pad">
            <h2>マウスパッド</h2>
            <ul>
              {{ range .MousePad }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section >
            <h2>モニター</h2>
            <ul>
              {{ range .Monitor }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="monitor-arm">
            <h2>モニターアーム</h2>
            <ul>
              {{ range .MonitorArm }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="desk-lamp">
            <h2>デスクライト</h2>
            <ul>
              {{ range .DeskLamp }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="power-strip">
            <h2>電源タップ</h2>
            <ul>
              {{ range .PowerStrip }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="power-strip-case">
            <h2>ケーブル収納</h2>
            <ul>
              {{ range .PowerStripCase }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="speaker">
            <h2>スピーカー</h2>
            <ul>
              {{ range .Speaker }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="camera">
            <h2>ウェブカメラ</h2>
            <ul>
              {{ range .Camera }}
              <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
              {{ end }}
            </ul>
          </section>

          <section id="headphone">
          <h2>ヘッドセット</h2>
          <ul>
            {{ range .Headphone }}
            <li>
                <a href="{{ .ItemUrl }}">
                  <img class="item-img" alt="item image" src="{{ index .MediumImageUrls 0 }}">
                </a>
                <p class="shop-name">{{ .ShopName }}</p>
                <p class="item-price">{{ .ItemPrice }}円</p>
                <button>セットに追加</button>
              </li>
            {{ end }}
          </ul>
          </section>
        </div>
      </div>
    </main>

    <footer>
      <small class="copyright">&copy; <span id="year"></span> Setup Mixer</small>
    </footer>

    <script src="../static/js/index.js"></script>
  </body>
</html>
